.vs/*

Binary Reader/*
Binary Writer/*
Byte Comparator/*
Step By Step Password Encryptor/*
tests/*

Simple File Encryptor/bin/*
Simple File Encryptor/obj/*

*.lnk

appIcon.pdn
appIcon.png
appIcon140.png
debug.log